* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif
  background-color: whitesmoke;
}

h1,
h2,
h3 {
  padding: 0;
  margin: 0;
  font-weight: 300;
}

.container {
  width: inherit;
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.user_table {
  border: .5px solid gray;
  border-collapse: collapse;
  margin-top: 40px;
}

.user_table thead {
  background-color: rgba(235, 235, 235, 0.678);
}

.user_table th, .user_table td{
  height: 40px;
  border: .5px solid gray;
  padding: 0 12px;
}

.user_table td:nth-child(1){
  text-align: center;
}